* {
  margin: 0;
  padding: 0;
  font-family: "Shantell Sans", cursive;
}
body {
  padding: 30px;
  color: orangered;
}
.description {
  margin: 20px 0px 20px 0px;
  font-weight: 400;
  font-size: 20px;
}
.text-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 20px 0px 20px 0px;
  flex-direction: column;
  width: 100%;
}
textarea {
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
}
button {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  background-color: orangered;
  border: 1px solid orangered;
  color: whitesmoke;
}
button:hover {
  padding: 10px;
}
span {
  color: black;
}
.output-container,
#output {
  padding: 20px 0px 20px 0px;
}
#output {
  color: black;
}
