* {
  margin: 0;
  padding: 0;
  background-color: rgb(34, 34, 34);
}
.gridContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  /* justify-content: center;
  text-align: center; */
}
.s {
  padding: 20px;
  background-color: rgb(84, 84, 84);
  text-align: center;
  color: whitesmoke;
}
header {
  /* grid-column-start: 1;
    grid-column-end: 3; 
    grid-row-start: 1;
    grid-row-end: 3; */
  grid-column: 1/3;
}
/* nav {
  grid-column: 1/4;
} */
main {
  grid-column: 1/3;
}
footer {
  grid-column: 1/4;
}
